[submodule "public"]
	path = public
	url = https://github.com/amerinor01/Meri-On_Geek-Pages.git
    branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
